* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
body,h1 {font-family: 'Baloo Chettan 2', sans-serif}
body, html {height: 100%;margin:0;text-align: center;}
.topnav {
  overflow: hidden;
  background-color:rgba(0,0,0,0.5);
  z-index:10;
  position:fixed;width:100%;

}
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  margin: 16px 16px 16px 30px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a.link:hover {
  border-bottom:2px solid #ff4d4d;
  font-size:17.5px;
}
.topnav a.active {
  border-bottom:2px solid #ff4d4d;
}
.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav{background: rgba(0,0,0,1)}
  .topnav a.active{color: #ff4d4d;border-bottom:none;}
   .topnav a.link:hover{color:#ff4d4d;border-bottom:none;}
}
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }


.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 30%;
}

/* Middle column */
.column.middle {
  width: 70%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
